.container {
  padding: 3rem;
  min-height: 100vh;
  background-image: linear-gradient(#fb923c, #fb7185);
}

.main {
  display: flex;
  width: 100%;
  max-width: 1020px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #faf9fe;
  border-radius: 25px;
  opacity: 0.95;
  backdrop-filter: opacity(0.3);
}
