.aside {
  background-color: #f0eef5;
  width: 30%;
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: auto;
  position: relative;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rooms {
  overflow-y: scroll;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.signout {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  width: 100%;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: rgb(221 214 254);
  font-weight: 600;
  color: rgb(124 58 237);
  text-align: center;
}
