.form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 9999px;
  padding: 0.25rem;
  margin: 0.5rem;
  border: 1px solid #8b5cf6;
  background-color: #ddd6fe;
}

.input {
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 9999px;
  background-color: #ddd6fe;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #a0aec0;
}

.button {
  background-color: #8b5cf6;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  color: rgb(255 255 255);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
