.container {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  max-width: 295px;
  padding: 0.75rem;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.base_input {
  font-size: 0.75rem;
  line-height: 1rem;
  max-width: 295px;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: rgb(221, 214, 254);
  color: rgb(124, 58, 237);
  font-weight: 600;
}

.new_room_btn {
  flex-basis: 100%;
}

.create_room_btn {
  flex-basis: 45%;
}

.cancel_btn {
  flex-basis: 45%;
}

.input {
  flex-basis: 100%;
  margin-bottom: 15px;
}
