.container {
  width: 100%;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.base_input {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: rgb(221, 214, 254);
  color: rgb(124, 58, 237);
  font-weight: 600;
}

.new_room_btn {
  flex-basis: 100%;
  cursor: pointer;
}
.new_room_btn:hover {
  box-shadow: 5px 5px 5px rgb(143, 141, 141);
}

.create_room_btn {
  flex-basis: 45%;
  cursor: pointer;
}
.create_room_btn:hover {
  box-shadow: 5px 5px 5px rgb(143, 141, 141);
}

.cancel_btn {
  flex-basis: 45%;
  cursor: pointer;
}
.cancel_btn:hover {
  box-shadow: 5px 5px 5px rgb(143, 141, 141);
}

.input {
  flex-basis: 100%;
  margin-bottom: 15px;
}
